/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}






p {
    color: white;
}

  /*  */

.main {
    width: 1250px;
    margin: auto;
  }

body {
    background-color: #000000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
}

img {
    display: inline-block;
}

a {
    color: #eff3f4;
}













/* SIDE BAR */

.side-bar   {
    width: 269px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* text-align: center; */
    /* align-items: center; */
    border-right: 1px solid #2f3336;
    padding: 0 12px;
    padding-top: 3px;
    row-gap: 120px;
    position: fixed;
    z-index: 100;
   
}

/* LOGO */

.logo-a {
    width: 50px;
}

.logo {
    width: 50px;
    height: 50px; 
    display: flex;
    justify-content: center;
    border-radius: 25px;
    transition: 0.2s ease-in;
    margin-bottom: 10px;
}

.logo img {
    filter: invert();
    width: 30px;

}

.logo:hover {
    background-color: #0086b625;
}

/* MENU */

.menu img {
    /* width: 251px; */
    filter: invert();
}

.menu a {
    text-decoration: none;
    color: #e7e9ea;
    font-size: 20px;
    /* font-weight: 500; */
    letter-spacing: normal;
    padding: 4px 0;
    /* width: auto; */
}

.one:hover {
    background-color: #1d9bf0;
}

.home {
    width: 141px;
    align-items: center;
    display: flex;
    text-align: center;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
    background-color: #151515;
    border-radius: 25px;
}

.home img  {
    width: 25px;
    align-items: center;
}

.home:hover {
    background-color: #151515;
    border-radius: 25px;
}

.explore {
    width: 152px;
    align-items: center;
    display: flex;
    text-align: center;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.explore img  {
    width: 25px;
    align-items: center;
}

.explore:hover {
    background-color: #151515;
    border-radius: 25px;
}

.notifications {
    width: 221px;
    align-items: center;
    display: flex;
    text-align: center;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.notifications img  {
    width: 25px;
    align-items: center;
}

.notifications:hover {
    background-color: #151515;
    border-radius: 25px;
}


.messages {
    width: 175px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.messages img  {
    width: 25px;
    align-items: center;
}

.messages:hover {
    background-color: #151515;
    border-radius: 25px;
}


.bookmarks {
    width: 186px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.bookmarks img  {
    width: 25px;
    align-items: center;
}

.bookmarks:hover {
    background-color: #151515;
    border-radius: 25px;
}


.lists {
    width: 128px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.lists img  {
    width: 25px;
    align-items: center;
}

.lists:hover {
    background-color: #151515;
    border-radius: 25px;
}

.profile {
    width: 143px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.profile img  {
    width: 25px;
    align-items: center;
}

.profile:hover {
    background-color: #151515;
    border-radius: 25px;
}

.more {
    width: 132px;
    align-items: center;
    text-align: center;
    display: flex;
    column-gap: 20px;
    height: 50px;
    padding: 12px;
    margin: 4px 0;
    transition: 0.1s ease-in;
}

.more img  {
    width: 25px;
    align-items: center;
}

.more:hover {
    background-color: #151515;
    border-radius: 25px;
}


/* TWEET BUTTON */

/* .tweet-left {
    padding: 10px;
} */

.left-tweet-button {
    background-color: #1d9bf0;
    color: white;
    font-weight: 500;
    font-size: 17px;
    width: 225px;
    height: 52px;
    border-radius: 30px;
    margin-top: 15px;
    cursor: pointer;
}



/* user */

.user {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    /* margin-top: 30px; */
    border-radius: 30px;
    cursor: pointer;
    transition: 0.15s ease-in;
} 

.user:hover {
    background-color: #151515;
}

.user-pic {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.user-pic img   {
    width: 40px;
    border-radius: 40px;
    /* margin-right: 25px; */
    /* margin-bottom: 1px; */
    /* text-align: center;
    justify-content: center;
    align-items: center; */
}

.user p {
    color: #e7e9ea;
    font-size: 15px;
    font-weight: 500;
    line-height:20px;
    letter-spacing: 0.6px;
}

.user p span {
    font-size: 14px;
    font-weight: 400;
    color: #909498;
}

.dots {
    display: flex;
    width: 80px;
    /* float: right; */
    align-items: center;
    justify-content: center;
    text-align: right;
}

.dots img  {
    width: 21px;
}











/* content-section */

.content-section {
    width: 980px;
    position: relative;
    right: -269px;
    
}




/* HEADER */


.header {
    width: 629px;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #2f3336;
    z-index: 100;
    position: fixed;
    background-color: rgb(0, 0, 0);
    left: 404px;
    border-right: 1px solid #2f3336;
}

.header-l {
    width: 50%;
    text-decoration: none;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    transition: 0.1s ease-in;
}

.text-1 {
    font-size: 16px;
    font-weight: 700;
    height: 100%;
    text-align: center;
    width: 100px;
    display: inline-block;
    border-bottom: 4px solid #1d9bf0;
    z-index: 200;
} 

.header-l:hover {
    background-color: #151515;
}

.header-r {
    width: 50%;
    text-decoration: none;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    transition: 0.1s ease-in;
}

.text-2 {
    color: #71767b;
    font-size: 16px;
    font-weight: 500;
    height: 100%;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.header-r:hover {
    background-color: #151515;
}







/* center-section */

.center-section {
    width: 630px;
    border-right: 1px solid #2f3336;
    bottom: -58px;
    position: relative;
}


/* compose tweet */

.compose-tweet  {
    width: 100%;
    /* height: 110px; */
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-bottom: 10px;
    row-gap: 10px;
    border-bottom: 1px solid #2f3336;
}

.compose-top {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    text-align: center;
    align-items: center;
}

.compose-pic {
    height: 100%;
}

.compose-pic img {
    width: 48px;
    border-radius: 25px;
    vertical-align: middle;
}

.compose-top p {
    color: #71767b;
    /* font-weight: 500; */
    font-size: 20px;
}

.compose-bottom {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    padding-left: 55px;
    height: 50%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.compose-bottom-icons {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.compose-bottom-icons img {
    width: 20px;
    filter: invert(53%) sepia(68%) saturate(3540%) hue-rotate(179deg) brightness(100%) contrast(89%);

}

.compose-bottom-icons div {
    width: 35px;
    height: 35px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.compose-bottom-icons div:hover {
    background-color: #0086b625;
    
}

.compose-bottom-tweet button{
    background-color: #1d9bf0;
    opacity: 50%;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    width: 80px;
    height: 42px;
}

.more-tweets {
    text-decoration: none;
}

.more-tweets p{
    color: #1d9bf0;
    height: 50px;
    text-align: center;
    padding-top: 11px;
    border-bottom: 1px solid #2f3336;
}

.more-tweets p:hover {
    background-color: #15151563;
}





/* tweet section */

.tweet-section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 15px 0 15px;
    cursor: pointer;
    border-bottom: 1px solid #2f3336;
    padding-bottom: 15px;
}

.tweeters-icon {
    width: 50px;
    margin-right:15px;
        /* justify-content: center;
        text-align: center;
        align-items: center;
        vertical-align: middle; */
    display: flex;
}

.tweeters-icon img {
    /* display: inline-block; */
    width: 48px;
    height: 44px;
    border-radius: 50px;
    object-fit: cover;
    object-position: center;
}

.tweeters-tweet {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.tweeters-info {
    width: 100%;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#line-1 {
    display: flex;
    align-items: center;
} 

.name {
    font-size: 15px;
    font-weight: 700;
    margin-right: 5px;
}

.tweeters-info img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    object-position: center;
    margin-right: 7px;
}

.name-at {
    color: #71767b;
    font-size: 15px;
}

#line-1-dots {
    width: 35px;
    height: 35px;
    border-radius: 20px;;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    /* vertical-align: middle; */
}

#line-1-dots:hover {
    background-color: #0086b625;
    filter: invert(53%) sepia(68%) saturate(3540%) hue-rotate(179deg) brightness(100%) contrast(89%);
}

.tweet-three-dots   {
    margin-left: 6px;
}

.tweet-message p {
    font-size: 15px;
}

.tweeter-post img {
    border-radius: 20px;
    margin-top: 10px;
}


.line-3 {
    width: 80%;
    text-decoration: none;  
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    align-items: center;
    text-align: center;

}

.line-3 img {
    filter: invert(47%) sepia(8%) saturate(292%) hue-rotate(169deg) brightness(94%) contrast(89%);    width: 40px;
    width: 17px;   
    margin-right: 8px;
}

.line-3 p {
    color: #71767b;
    font-size: 12px;
    margin-bottom: 1px;
}

.line-3 div {
    display: flex;
}

#comment:hover {
    filter: invert(44%) sepia(99%) saturate(1278%) hue-rotate(179deg) brightness(98%) contrast(93%);
}

#retweet:hover {
    filter: invert(49%) sepia(90%) saturate(1216%) hue-rotate(121deg) brightness(90%) contrast(101%);
}

#like:hover {
    filter: invert(18%) sepia(64%) saturate(4985%) hue-rotate(322deg) brightness(103%) contrast(95%);
}

#view:hover {
    filter: invert(49%) sepia(90%) saturate(1216%) hue-rotate(121deg) brightness(90%) contrast(101%);

}

#share:hover {
    filter: invert(44%) sepia(99%) saturate(1278%) hue-rotate(179deg) brightness(98%) contrast(93%);

}






/* right-section */

.right-section {
    width: 360px;
}




